.principal{
    position: relative;
}

h1{
    text-align: center;
}
.father{
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
}
.loader {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

thead{
    background-color: #F89C30;
    color: black;
}

table{
    overflow-y: hidden
}