<!--Intro Section 
<div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(../../../assets/img/NEW/20180414_100105_foto_inicio1.jpg);background-repeat: no-repeat; background-attachment: fixed; background-position: center; background-size: cover;">
    <div class="full-bg-img">
        <div class="container flex-center">
            <div class="row pt-5 mt-3">
                <div class="col-md-12 mb-3">
                    <div class="intro-info-content text-center">
                        <h1 class="display-3 mb-5 wow fadeInDown" data-wow-delay="0.7s">
                            <img src="../../../assets/img/NEW/logoStart.png" alt="" srcset="">
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->

<img src="../../../assets/img/NEW/20180414_100105_foto_inicio1.jpg" class="img-fluid imgResponsive" alt="">

