.principal{
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-image: url("../../../assets/img/pattern.jpg");
}


.textCircle{
    color: #F89C32 !important;
}

.textServices{
    text-align: right !important;
}

.cyan-text{
    color: #F89C32 !important;
}

.tituloServices{
    text-align: center !important;
}

.itemList{
    margin-left: 1vw;
}