<div class="principal">
    <div class="container">

            <div class="row">
                <h1>Nuestros Servicios</h1>
            </div>
            
            <div class="row">
                <!-- Vertical Steppers -->
                <div class="row m-t-1">
                        <div class="col-md-12">
                    
                            <!-- Stepers Wrapper -->
                            <ul class="stepper stepper-vertical">
                    
                                <!-- First Step -->
                                <li>
                                    <a href="#">
                                        <span class="circle elegant-color textCircle">1</span>
                                        <span class="label">Movimientos De Tierra</span>
                                    </a>

                                    <!-- Section Description -->
                                    <div class="step-content grey lighten-3">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h1>Movimientos De Tierra</h1>
                                                <ul>
                                                    <li>-Corte y bote de tierra</li>
                                                    <li>-Relleno con material de préstamo</li>
                                                    <li>-Relleno con lastre compactado</li>
                                                    <li>-Muro de Tierra armada</li>
                                                    <li>-Excavacion en roca</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <!--Carousel Wrapper-->
                                                <mdb-carousel [isControls]="false" [animation]="'slide'">
                                                    <!--First slide-->
                                                    <mdb-slide>
                                                        <img class="d-block w-100" src="../../../assets/img/servicio1_1.JPG" alt="First slide">
                                                    </mdb-slide>
                                                    <!--/First slide-->
                                                    <!--Second slide-->
                                                    <mdb-slide>
                                                        <img class="d-block w-100" src="../../../assets/img/servicio1_2.JPG" alt="Second slide">
                                                    </mdb-slide>
                                                    <!--/Second slide-->
                                                </mdb-carousel>
                                                <!--/.Carousel Wrapper-->
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                
                                <!-- Second Step -->
                                <li>
                                    <a href="#">
                                            <span class="circle elegant-color textCircle">2</span>
                                        <span class="label">Infraestructura urbanistica</span>
                                    </a>

                                    <!-- Section Description -->
                                    <div class="step-content grey lighten-3">
                                        <div class="row">
                                            
                                            <div class="col-md-6">
                                                <!--Carousel Wrapper-->
                                                <mdb-carousel [isControls]="false" [animation]="'slide'">
                                                    <!--First slide-->
                                                    <mdb-slide>
                                                        <img class="d-block w-100" src="../../../assets/img/servicio2_1.JPG" alt="First slide">
                                                    </mdb-slide>
                                                    <!--/First slide-->
                                                    <!--Second slide-->
                                                    <mdb-slide>
                                                        <img class="d-block w-100" src="../../../assets/img/servicio2_2.JPG" alt="Second slide">
                                                    </mdb-slide>
                                                    <!--/Second slide-->
                                                </mdb-carousel>
                                                <!--/.Carousel Wrapper-->
                                            </div>

                                            <div class="col-md-6">
                                                <h1>Infraestructura urbanistica</h1>
                                                <ul>
                                                    <li>-Sistemas Sanitarios</li>
                                                    <li>-Sistemas pluviales</li>
                                                    <li>-Sistemas de agua potable</li>
                                                    <li>-Crodon y cano</li>
                                                    <li>-Aceras</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <!-- Third Step -->
                                <li>
                                    <a href="#">
                                            <span class="circle elegant-color textCircle">3</span>
                                        <span class="label">Pavimentos</span>
                                    </a>

                                    <!-- Section Description -->
                                    <div class="step-content grey lighten-3">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h1>Pavimentos</h1>
                                                <ul>
                                                    <li>-Colacacion de sub-base</li>
                                                    <li>-Colocacion de base</li>
                                                    <li>-Colocacion de carpeta asfaltica</li>
                                                    <li>-Colocacion de adoquin</li>
                                                    <li>-Tratamientos superficiales</li>
                                                    <li>-Servicios de Bacheo</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <!--Carousel Wrapper-->
                                                <mdb-carousel [isControls]="false" [animation]="'slide'">
                                                    <!--First slide-->
                                                    <mdb-slide>
                                                        <img class="d-block w-100" src="../../../assets/img/servicio3_1.JPG" alt="First slide">
                                                    </mdb-slide>
                                                    <!--/First slide-->
                                                    <!--Second slide-->
                                                    <mdb-slide>
                                                        <img class="d-block w-100" src="../../../assets/img/servicio3_2.JPG" alt="Second slide">
                                                    </mdb-slide>
                                                    <!--/Second slide-->
                                                </mdb-carousel>
                                                <!--/.Carousel Wrapper-->
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <!-- Fourth Step -->
                                <li>
                                    <a href="#">
                                        <span class="circle elegant-color textCircle">4</span>
                                        <span class="label">Demolición</span>
                                    </a>

                                    <!-- Section Description -->
                                    <div class="step-content grey lighten-3">
                                        <div class="row">
                                            
                                            <div class="col-md-6">
                                                <!--Carousel Wrapper-->
                                                <mdb-carousel [isControls]="false" [animation]="'slide'">
                                                    <!--First slide-->
                                                    <mdb-slide>
                                                        <img class="d-block w-100" src="../../../assets/img/servicio4_1.JPG" alt="First slide">
                                                    </mdb-slide>
                                                    <!--/First slide-->
                                                    <!--Second slide-->
                                                    <mdb-slide>
                                                        <img class="d-block w-100" src="../../../assets/img/servicio4_2.JPG" alt="Second slide">
                                                    </mdb-slide>
                                                    <!--/Second slide-->
                                                </mdb-carousel>
                                                <!--/.Carousel Wrapper-->
                                            </div>

                                            <div class="col-md-6">
                                                <h1>Demolición</h1>
                                                <ul>
                                                    <li>-Demolición de edificios</li>
                                                    <li>-Demolición de losas</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>                    
                            </ul>
                            <!-- /.Stepers Wrapper -->
                    
                        </div>
                </div>

                
            </div>
    </div>
</div>

