<div class="container" id="section5">
    <!--Section: Contact v.1-->
    <section class="pb-5">

        <!--Section heading-->
        <h2 class="h1 pt-4"></h2>
        <!--Section description-->
        <p class="pb-4"></p>
    
        <div class="row">
    
            <!--Grid column-->
            <div class="col-lg-5 mb-4 wow slideInLeft" data-wow-delay="0.2s">
    
                <!--Form with header-->
                <div class="card">
    
                    <div class="card-body">
                        <!--Header-->
                        <div class="form-header">
                            <h3 *ngIf="_AppService.lenguaje == 'ES'" ><i class="fa fa-envelope"></i> Contáctenos:</h3>
                            <h3 *ngIf="_AppService.lenguaje == 'EN'" ><i class="fa fa-envelope"></i> Write us:</h3>
                        </div>

                        <p *ngIf="_AppService.lenguaje == 'ES'">*Todos los campos son requeridos...</p>
                        <p *ngIf="_AppService.lenguaje == 'EN'">*All fields are required...</p>

                        <br>
    
                        <!--Body-->
                        <form #contactForm="ngForm" (ngSubmit)="fnEnviarCorreo(contactForm)">
                            <div class="md-form">
                                <i class="fa fa-user prefix grey-text"></i>
                                <input type="text" name="frmName" ngModel #frmName="ngModel" id="frmName" class="form-control" placeholder="Nombre / Name">
                                <span *ngIf="fnValidarEspaciosVacios(frmName) && frmName.touched" class="text-muted">{{mensajeDeErrorEspaciosVacios}}</span>
                            </div>
        
                            <div class="md-form">
                                <i class="fa fa-envelope prefix grey-text"></i>
                                <input type="text" name="frmEmail" ngModel #frmEmail="ngModel" id="frmEmail" class="form-control" placeholder="Correo / Email">
                                <span *ngIf="fnValidarEspaciosVacios(frmEmail) && frmEmail.touched" class="text-muted">{{mensajeDeErrorEspaciosVacios}}</span>
                                <span *ngIf="fnValidarCorreo(frmEmail) && frmEmail.touched" class="text-muted">{{mensajeDeErrorCorreo}}</span>
                            </div>
        
                            <div class="md-form">
                                <i class="fa fa-phone prefix grey-text"></i>
                                <input type="text" name="frmPhone" ngModel #frmPhone="ngModel" id="frmPhone" class="form-control" placeholder="Teléfono / Phone">
                                <span *ngIf="fnValidarEspaciosVacios(frmPhone) && frmPhone.touched" class="text-muted">{{mensajeDeErrorEspaciosVacios}}</span>
                            </div>
        
                            <div class="md-form">
                                <i class="fa fa-pencil prefix grey-text"></i>
                                <textarea type="text" name="frmMessage" ngModel #frmMessage="ngModel" id="frmMessage"class="md-textarea" placeholder="Mensaje / Message"></textarea>
                                <span *ngIf="fnValidarEspaciosVacios(frmMessage) && frmMessage.touched" class="text-muted">{{mensajeDeErrorEspaciosVacios}}</span>
                            </div>
        
                            <div class="text-center">
                                <button *ngIf="_AppService.lenguaje == 'ES'" class="btn waves-light" [disabled]="fnValidarEspaciosVacios(frmName) || 
                                fnValidarEspaciosVacios(frmEmail) || fnValidarEspaciosVacios(frmPhone) ||
                                fnValidarEspaciosVacios(frmMessage) || fnValidarCorreo(frmEmail)" mdbWavesEffect >Enviar</button>
                                <button *ngIf="_AppService.lenguaje == 'EN'" class="btn waves-light" [disabled]="fnValidarEspaciosVacios(frmName) || 
                                fnValidarEspaciosVacios(frmEmail) || fnValidarEspaciosVacios(frmPhone) ||
                                fnValidarEspaciosVacios(frmMessage) || fnValidarCorreo(frmEmail)" mdbWavesEffect >Send</button>
                            </div>
                        </form>
    
                    </div>
    
                </div>
                <!--Form with header-->
    
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-lg-7 wow slideInRight" data-wow-delay="0.2s">
    
                <!--Google map-->
                <agm-map class="z-depth-1-half map-container" style="height: 400px;">
                    <iframe height="100%" width="100%"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3930.05649732218!2d-84.2430633852064!3d9.929252992899682!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0ff3af4d6fc07%3A0xe726cd4cffe13552!2sMovimientos+de+Tierra+HHR!5e0!3m2!1ses!2scr!4v1524804166106" ></iframe>
                </agm-map>

                
                <br>
                <!--Buttons-->
                <div class="row text-center">
                    <div class="col-md-4">
                        <a class="btn-floating waves-light" mdbWavesEffect>
                            <i class="fa fa-map-marker"></i>
                        </a>
                        <p *ngIf="_AppService.lenguaje == 'ES'">Ruta 22 Ciudad Colón, San José, 10701</p>
                        <p *ngIf="_AppService.lenguaje == 'EN'">Route 22 Ciudad Colón, San José, 10701</p>
                        <p>Costa Rica</p>
                    </div>
    
                    <div class="col-md-4">
                        <a class="btn-floating waves-light" mdbWavesEffect>
                            <i class="fa fa-phone"></i>
                        </a>
                        <p>+ (506) 2249 - 01 00</p>
                        <p *ngIf="_AppService.lenguaje == 'ES'">Lun - Vie, 7:30-17:30 / Sab 8:00 12:00</p>
                        <p *ngIf="_AppService.lenguaje == 'EN'">Mon - Fri, 7:30-17:30 / Sat 8:00 12:00</p>
                    </div>
    
                    <div class="col-md-4">
                        <a class="btn-floating waves-light" mdbWavesEffect>
                            <i class="fa fa-envelope"></i>
                        </a>
                        <p>info@hhr.co.cr</p>
                    </div>
                </div>
    
            </div>
            <!--Grid column-->
    
        </div>
    
    </section>
    <!--Section: Contact v.1-->
</div>

<div mdbModal #infoModal="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog modal-notify modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading lead">HHR</p>
            </div>
            <div class="modal-body">
                <div *ngIf="stadoCargado" class="text-center">
                    <p *ngIf="_AppService.lenguaje == 'ES'">Enviando el mensaje, un momento por favor...</p>
                    <p *ngIf="_AppService.lenguaje == 'EN'">Sending the message, please wait...</p>
                </div>
                <div *ngIf="stadoEnviado" class="text-center">
                    <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                    <p *ngIf="_AppService.lenguaje == 'ES'">{{modalMensajeEnviadoES}}</p>
                    <p *ngIf="_AppService.lenguaje == 'EN'">{{modalMensajeEnviadoEN}}</p>
                </div>
                <div *ngIf="stadoEnviadoError" class="text-center">
                    <i class="fa fa-exclamation-triangle fa-4x mb-3 animated rotateIn"></i>
                    <p *ngIf="_AppService.lenguaje == 'ES'">{{modalMensajeEnviadoES}}</p>
                    <p *ngIf="_AppService.lenguaje == 'EN'">{{modalMensajeEnviadoEN}}</p>
                </div>
            </div>
            <div *ngIf="!stadoCargado" class="modal-footer justify-content-center">
                <a *ngIf="_AppService.lenguaje == 'ES'" type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="infoModal.hide()" mdbWavesEffect>Cerrar</a>
                <a *ngIf="_AppService.lenguaje == 'EN'" type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="infoModal.hide()" mdbWavesEffect>Close</a>
            </div>
        </div>
    </div>
</div>