<div class="principal">
    <div class="container">

        <!--Section: Features v.1-->
        <section class="text-center">
      
            <!--Section heading-->
            <h1 class="py-5 font-weight-bold">Nosotros</h1>
            <!--Section description-->
            <p class="px-5 mb-5 pb-3 lead">
                <strong>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam.
                </strong>
            </p>
      
            <!--Grid row-->
            <div class="row">
      
                <!--Grid column-->
                <div class="col-md-6">
                    <i class="fa fa-dot-circle-o fa-4x red-text"></i>
                    <h5 class="font-weight-bold mt-3">Misión</h5>
                    <p class="text-dark">
                        <strong>Ofrecerle a nuestros clientes soluciones de movimientos de tierra e infraestructura urbanística, bajo un alto estándar de calidad, servicio al cliente y profesionalismo.</strong>    
                    </p>
                </div>
                <!--Grid column-->
      
                <!--Grid column-->
                <div class="col-md-6">
                    <i class="fa fa-eye fa-4x cyan-text"></i>
                    <h5 class="font-weight-bold mt-3">Visión</h5>
                    <p class="text-dark">
                        <strong>
                        Llevar a nuestra empresa a ocupar los primeros lugares en la industria de la construcción, consolidándonos como un proveedor de alto valor para nuestros clientes en sus proyectos.
                        </strong>
                    </p>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
      
        </section>
        <!--Section: Features v.1-->   
      </div>
</div>



    
 