.logo-side{
    height: 100px;
    width: 100%;
    padding: 3vh;
}

.img-logo{
    margin: 0 auto;
}

main{
    height: 100%;
    margin: 0 auto;
    background-image: url('../../assets/img/pattern.jpg');
}
