.main{
    background-image: url('../../../assets/img/20171118_133443_fondo_valores.jpg');
    padding-top: 10vh;
    padding-bottom: 10vh;
    width: 100vw;
    color: white;


	background-size:cover;
	background-position: center center;
	background-repeat: no-repeat;
    background-attachment: fixed;
    
    box-shadow: 3px 3px 3px black;
}

.MV{
    color: white;
}

@media (max-width: 740px) {
    .main{
        background-color: black;
        background-image: none;
    }
}
