<div class="main mask rgba-black-light waves-light" mdbWavesEffect>
    <div class="container">

        <h1>Valores</h1>

      
        <div class="row">
            <ul>
                <li> <i class="fa fa-check" aria-hidden="true"> </i>Responsabilidad</li>
                <li> <i class="fa fa-check" aria-hidden="true"> </i>Trabajo en equipo</li>
                <li> <i class="fa fa-check" aria-hidden="true"> </i>Proactividad</li>
                <li> <i class="fa fa-check" aria-hidden="true"> </i>Determinacion</li>
                <li> <i class="fa fa-check" aria-hidden="true"> </i>Transparencia</li>
            </ul>
        </div>
   
    </div>
</div>

